/**

 * @name Shitcord
 * @version 1.0
 * @description It's all shit
 * @authorId 435026627907420161
 * @author Yellowsink

**/

/* Messages */
.messageContent-2qWWxC,
.markup-2BOw-j a,
/* Usernames */
.username-1A8OIy.clickable-1bVtEA,
/* Timestamps */
.timestamp-3ZCmNB,
/* Edited */
.edited-3sfAzf,
/* Embeds */
.embedTitle-3OXDkz,
.embedFieldName-NFrena,
.embedFieldValue-nELq2s,
/* Channels */
.name-23GUGE,
.overflow-WK9Ogt,
/* Username in VC */
.username-3KYl0N,
/* Header */
.title-29uC1r,
.name-1jkAdW,
.topic-TCb_qw.expandable-9fI_e3,
/* Mentions */
.mention,
.mention.interactive,
/* Member List */
.name-uJV0GL span,
.activityText-yGKsKm,
.activity-525YDR,
.subText-1KtqkB,
.headerText-2F0828,
/* Bot tag */
.px-10SIf7 .botText-1526X_,
/* Typing Indicator */
.text-1y-e8-,
.ellipsis-19qdx6,
/* It's quiet for now */
.emptyHeader-3lmLcs,
.emptyText-2zjpZr,
.header-13Cw0-,
.tabBar-ZmDY9v .item-3HknzM,
/* DM list items */
.channel-2QD9_O.container-2Pjhx- .name-uJV0GL,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx,
/* Friends List */
.username-31C1TQ,
.subtext-24R4-w,
.discriminator-22Okc1
{
    color: transparent !important;
}

/* Emojis */
.emojiContainer-3X8SvE img { opacity: 0; }

.typing-2GQL18::before,
.tabBar-ZmDY9v .item-3HknzM::before {
    content: "💩💩💩";
    color: white;
}

.messageContent-2qWWxC::before,
.username-1A8OIy.clickable-1bVtEA::before,
.emojiContainer-3X8SvE::before,
.timestamp-3ZCmNB::before,
.edited-3sfAzf::before,
.embedTitle-3OXDkz::before,
.embedFieldName-NFrena::before,
.embedFieldValue-nELq2s::before,
.name-23GUGE::before,
.overflow-WK9Ogt::before,
.username-3KYl0N::before,
.title-29uC1r::before,
.name-1jkAdW::before,
.topic-TCb_qw.expandable-9fI_e3::before,
.mention::before,
.name-uJV0GL span::before,
.activityText-yGKsKm::before,
.activity-525YDR::before,
.subText-1KtqkB::before,
.headerText-2F0828::before,
.px-10SIf7 .botText-1526X_::before,
.text-1y-e8-::before,
.emptyHeader-3lmLcs::before,
.emptyText-2zjpZr::before,
.header-13Cw0-::before,
.channel-2QD9_O.container-2Pjhx- .name-uJV0GL::before,
.searchBar-6Kv8R2 .searchBarComponent-32dTOx::before,
.username-31C1TQ::before,
.subtext-24R4-w::before
{
    content: "💩 💩 💩 💩 💩";
    color: white;
}